@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = "_Layout"; // Layout'u belirtmek
}

<div class="text-center">
    <h1 class="display-4 mb-4">Hoş Geldiniz!</h1>
    <p class="lead">Techonefest Team Website'ye hoş geldiniz! Teknoloji ve inovasyonla sizi geleceğe taşımayı hedefliyoruz.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-center mt-4">
        <a href="@Url.Action("Index", "Service")" class="btn btn-primary btn-lg me-sm-3 mb-2 mb-sm-0">Hizmetlerimiz</a>
        <a href="@Url.Action("Index", "Team")" class="btn btn-outline-primary btn-lg">Takımımız</a>
    </div>
</div>

<!-- Hizmetler Kısmı -->
<div class="container mt-5">
    <h3>Hizmetlerimiz</h3>
    <div class="row">
        @foreach (var service in ViewBag.Services)
        {
            <div class="col-md-4">
                <div class="card">
                    <img src="@service.IconPath" class="card-img-top" alt="@service.Name" style="height: 200px; object-fit: cover;" />
                    <div class="card-body">
                        <h5 class="card-title">@service.Name</h5>
                        <p class="card-text">@service.Description</p>
                        <a href="@Url.Action("Index", "Service")" class="btn btn-primary">Hizmetlerimiz</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<!-- Hakkımızda Kısmı -->
<div class="container mt-5">
    <h3>Hakkımızda</h3>
    <p>@ViewBag.AboutContent.Content</p>
    <a href="@Url.Action("Index", "About")" class="btn btn-primary">Daha fazla bilgi</a>
</div>

<!-- Sponsorlar Kısmı -->
<div class="container mt-5">
    <h3>Sponsorlarımız</h3>
    <div class="row">
        @foreach (var sponsor in ViewBag.Sponsors)
        {
            <div class="col-md-4">
                <div class="card">
                    <img src="@sponsor.LogoPath" class="card-img-top" alt="@sponsor.Name">
                    <div class="card-body">
                        <h5 class="card-title">@sponsor.Name</h5>
                        <a href="@sponsor.Url" class="btn btn-primary" target="_blank">Sponsorun Web Sitesi</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<!-- Takım Kısmı -->
<div class="container mt-5">
    <h3>Takımımız</h3>
    <p>Alanında uzman ekibimizle birlikte projelere yön veriyoruz.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-center mt-4">
        <a href="@Url.Action("Index", "Team")" class="btn btn-primary btn-lg me-sm-3 mb-2 mb-sm-0">Takımımızı Tanıyın</a>
    </div>
</div>
